@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
    font-family: 'Inter';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 2.489rem;
    /* 39.84px */
}

h2 {
    font-size: 2.074rem;
    /* 33.12px */
}

h3 {
    font-size: 1.728rem;
    /* 27.68px */
}

h4 {
    font-size: 1.440rem;
    /* 23.04px */
}

h5 {
    font-size: 1.200rem;
    /* 19.2px */
}

small {
    font-size: 0.833rem;
    /* 13.28px */
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: tomato;
    height: 5rem;
}
nav{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
    padding: 1.3rem;
}

.btn{
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}